{% extends "base.html" %}

{% block contents %}
<style>
    li {
        font-size: 20px
    }

</style>
<center>
    <h1 style="margin-top: 10%;"> 3_Team</h1>
    <h2>2021-01-31 과제</h2>
    <br><br>
    <li>테이블의 공통요소를 키로 연결하여 두 개의 테이블에 저장하고 다음 쿼리를 stored procedure로 만들어서 html 페이지로 표현하시오</li>
    <li>주소가 서울인 사람이 구매한 총액 구하기</li>
    <li>품목별 판매 총액 구하기</li>
    <li>UserID별로 구매한 price, amount 합계를 출력하시요</li>
    <li>성적테이블에서 과목별 합계와 평균을 웹으로 출력하시오</li>
</center>

{% endblock contents %}