#img1 {
    width: 20%;
    height: 10%;    
}

#img1-text {
    width: 20%;
    text-align: center;
    font-family: "함초롬돋움";
}

#img-float-right {
    width: 30%;
    height: 40%;
    float: right;
}

video {
    
    width: 70%;
    height: 100%;
}