{% extends "base.html" %}
{% block explain_contents %}

<img src="{{ url_for('static', filename='Photo.jpg')}}">
<img src="{{url_for('static', filename='Photo.jpg')}}" border=0 usemap="#ss">

<map name="ss">
    <area shape="rect" coords="10,10 90,90" href="http://www.daum.net" alt="다음" target="_blank">
    <area shape="circle" coords="140,115 50" href="http://www.empas.net" alt="엠파스" target="_blank">
    <area shape="poly" coords="230,10 180,190" href="http://www.naver.net" alt="네이버" target="_blank">
</map>

{% endblock explain_contents %}